body {
    font-family: 'Saira Stencil One', cursive;
    color: white;
    text-shadow: 2px 2px black;
}
.info {
    font-family: 'Teko', sans-serif;
    font-size: 26px;
    color:black;
    text-shadow: 2px 2px white;
}
#question, #timer {
    font-size: 50px;
    text-shadow: 10px 10px black;
}
.chooseAnswer {
    margin: 10px;
    padding: 2px; 
    font-size: 20px;
}